{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de articulos por titulo</h1>
{% endblock %}

{% block contenido %}

    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar B&uacute;squeda'/>
    	</form>
	    
	    <hr>

	    {% if articulos %}
		    <h3> Total de articulos encontrados:  {{ articulos|length }}</h3>

			{% for row in articulos %}
			
			    <dd><b>{{row.titulo}} </b></dd>
			    <dd><b>Autor: </b>{{row.autor}} </dd>
			    <dd><b>Categoria: </b>{{row.categoria}} </dd>
			    <dd><b>Descripcion: </b>{{row.descripcion}} </dd>
			    <dd href="{{row.imagen}}"><img src="{{row.imagen}}"></dd>
			    <br>
			    <br>
			     
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}
