<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}{% endblock %}
  </style>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}

 			<dd><a href='/'>Inicio</a></dd>
 			<dd> ---------------------------------- </dd>
 			
			<dd><a href='/productos'>Lista de productos</a></dd>
			<dd><a href='/buscar_productosporprecio'>Buscar productos por precio maximo</a></dd>
			<dd><a href='/buscar_productospornombre'>Buscar productos por nombre</a></dd>
			<dd><a href='/cargaDB'>Cargar la BD</a></dd>
			<dd> ---------------------------------- </dd>
			
			<dd><a href='/articulos'>Lista de articulos</a></dd>
			<dd><a href='/cargaWhoosh'>Cargar indexado de Whoosh</a></dd>
	<hr>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>