{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de productos por nombre </h1>
{% endblock %}

{% block contenido %}

    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar B&uacute;squeda'/>
    	</form>
	    
	    <hr>

	    {% if productos %}
		    <h3> Total de productos por nombre:  {{ productos|length }}</h3>

			{% for row in productos %}
			    <dt><b>Nombre: </b>{{row.nombre}} | ({{row.referencia}}) </dt>
			    <dd><b>URL imagen: </b>{{row.imagen}} </dd>
			    <dd><b>Precio: </b>{{row.precio}} EUROS</dd>
			    <dd><b>Descripcion: </b>{{row.descripcion}} </dd>    
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}
