{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de productos por nombre </h1>
{% endblock %}

{% block contenido %}
		<hr>
    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar B&uacute;squeda'/>
    	</form>
	    
	    <hr>

	    {% if productos %}
	    	
		    <h3> Total de productos encontrados:  {{ productos|length }}</h3>
		    <hr>

			{% for row in productos %}
			
			    <dd><b>{{row.nombre}} | (Ref: {{row.referencia}}) </b></dd>
			    <dd><b>Precio: </b>{{row.precio}} EUROS</dd>
			    <dd><b>Descripcion: </b>{{row.descripcion}} </dd>
			    <dd href="{{row.imagen}}"><img src="{{row.imagen}}"></dd>
			    <br>
			    <hr>
			     
			{% endfor %}

			</dl>

		{% endif %}
	</div>
{% endblock %}
