{% extends 'base.html' %}

{% block encabezado %}
<h1> Productos BrikoGeek </h1>
{% endblock %}

	{% block contenido %}
  		<h3> Total de productos:  {{ productos|length }}</h3>
			{% for row in productos %}
			
			    <dd><b>{{row.nombre}} | (Ref: {{row.referencia}}) </b></dd>
			    <dd><b>Precio: </b>{{row.precio}} EUROS</dd>
			    <dd><b>Descripcion: </b>{{row.descripcion}} </dd>
			    <dd href="{{row.imagen}}"><img src="{{row.imagen}}"></dd>
			    <br>
			    <br>
			        
			{% endfor %}
  {% endblock %}
