{% extends 'master.html' %}

{% block titulo %} Lista de Usuarios {% endblock %}

{% block contenido %} 

	    	{% regroup usuarios by ocupacion as grouped %}
	    	{% for group in grouped %}
		    	<h3>Ocupaci&oacute;n: {{group.grouper}} ({{group.list|length}} usuarios)</h3>
		    		<dl>
		    		{% for user in group.list %}
						<dt><strong>Id Usuario:</strong> {{user.idUsuario}} | <strong>Edad:</strong> {{user.edad}} | <strong>Codigo Postal:</strong> {{user.codigoPostal}}</dt>
					{% endfor %}
				    </dl>
	    	{% endfor %}

{% endblock %}